@import "tailwindcss";

@theme {
    --color-gray-100: #fafafa;
    --color-gray-150: #f7f7f7;
    --color-gray-200: #f6f6f6;
    --color-gray-250: #f5f5f5;
    --color-gray-300: #f4f4f4;
    --color-gray-350: #f3f3f3;
    --color-gray-400: #f2f2f2;
    --color-gray-450: #f1f1f1;
    --color-gray-500: #e7e7e7;
    --color-gray-550: #efefef;
    --color-gray-600: #d4d4d4;
    --color-gray-650: #cdcdcd;
    --color-gray-700: #a5a5a5;
    --color-gray-750: #777777;
    --color-gray-800: #555555;
    --color-gray-850: #333333;
    --color-gray-900: #252525;
    --color-gray-950: #111111;

    --font-roboto: "Roboto", sans-serif;
    --font-lato: "Lato", sans-serif;
    --font-sans: var(--font-roboto);

    --text-base: 1.125rem;

    --animate-scroll-left: scroll-left linear infinite 10s;

    @keyframes scroll-left {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-100%);
        }
    }

    --animate-scroll-right: scroll-right linear infinite 10s;

    @keyframes scroll-right {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(100%);
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply
            font-lato
            font-bold;
    }

    h1 {
        @apply text-6xl;
    }

    h2 {
        @apply text-5xl;
    }

    h3 {
        @apply text-4xl;
    }

    h4 {
        @apply text-3xl;
    }

    h5 {
        @apply text-2xl;
    }

    h6 {
        @apply text-xl;
    }
}

@layer components {
    .spotlight {
        clip-path: polygon(77.87% 1px, 94.05% 3px, 86.69% 99.58%, 0.82% 99.06%);
        @apply
            bg-gradient-to-b
            from-amber-400
            via-amber-600/40
            via-60%
            to-amber-400/0;
    }

    .btn {
        @apply
            inline-block
            bg-white
            py-3
            px-8
            text-black
            relative
            cursor-pointer
            xl:after:absolute
            xl:after:left-8
            xl:after:right-8
            xl:after:bottom-2.5
            xl:after:h-0.5
            xl:after:bg-black
            xl:after:scale-x-0
            xl:after:transition-all
            xl:after:duration-300
            xl:after:origin-left;
    }

    .btn:hover {
        @apply
            xl:after:scale-x-100;
    }

    .tgbar {
        @apply
            overflow-x-hidden
            flex
            gap-2
            whitespace-nowrap;
    }

    .tgbar .content {
        @apply
            animate-scroll-left;
    }

    .tgbar--inverted {
        @apply
            flex-row-reverse;
    }

    .tgbar--inverted .content {
        @apply
            animate-scroll-right;
    }
}
